.btn-add-message {
  width: 4rem;
  height: 4rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ff0043;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 4rem;
  color: #fff;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 4px #3333;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
  box-shadow: none;
}

.section-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1.5rem;
  justify-content: center;
}

@media (max-width: 550px) {
  .section-container {
    grid-template-columns: 1fr;
  }
}
